@model BookList.Api.viewModels.RegistrationViewModel;

<h1>Sing In</h1>

<form asp-action="Login">
    <label>Name</label>
    <input asp-for="@Model.Name" />
    <span asp-validation-for="@Model.Name" class="text danger"></span>

    <label>Email</label>
    <input asp-for="@Model.Email" />
    <span asp-validation-for="@Model.Email" class="text danger"></span>

    <label>Password</label>
    <input asp-for="@Model.Password" />
    <span asp-validation-for="@Model.Password" class="text danger"></span>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>

    <label>New to?</label>
    <a class="badge badge-danger" asp-controller="Auth" asp-action="Registration">Create an account</a>
</form>
